<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <property name="LOG_HOME" value="." />
    <property name="LOG_FILE" value="target/assignment.log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} | %-5level -> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- "application-name" is a variable -->
        <File>${LOG_HOME}/${LOG_FILE}</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d %p %t %c -> %m%n</Pattern>
        </layout>
    </appender>

    <logger name="ch.qos.logback.*" level="ERROR"/>
    <logger name="com.assignment" level="${suite.log.level}"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>